{% include 'sitio/menu.html' %}
   <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-1" id="bd-left"></div>
        <div class="col-md-5" id="col-left">
          <h3 style="text-align: center;">
            <font color="#3e3c5f">Manutenção de Sites Responsivos</font>
          </h3>
          <p style="text-align: justify;"><i><b>Site</b></i> ou layout <i><b>responsivo</b></i>, ou também conhecido como <i><b>site</b></i> flexível é quando o <i><b>site</b></i> automaticamente se encaixa no dispositivo do usuário (PC, celular, tablet, etc). Um <i><b>site responsivo</b></i>            muda a sua aparência e disposição com base no tamanho da tela em que o <i><b>site</b></i> é exibido.</p>
          <div style="text-align: right;">
            <img alt="" src="static/image/smart.png"> </div>
          <p style="text-align: justify;">Se o seu site é responsivo, comemore: Um <i><b>algoritmo</b></i> do Google privilegia este tipo de site. Ou seja, seu <i><b>site responsivo</b></i> tem “preferência” no ranking do <i><b><font color="#FF0000">Google</font></b></i>, fazendo com
            que fique bem posicionado no resultado da <i><b>busca
                orgânica</b></i> a partir de dispositivos móveis. Isso é bem importante, pois o acesso e a busca a partir de <i><b><font color="#008000">smartphones</font></b></i> já representa um percentual significativo e só tende a crescer ainda mais.</p>
          <p style="text-align: center;"><i><font color="#8a8431">Montagem,
                manutenção e hospedagem de seu domínio, incluindo áudio, vídeo e
                imagens...</font></i>
            <br> </p>
          <hr>
          <h3 style="text-align: center;">
            <font color="#3e3c5f">Desenhos Vetoriais</font>
          </h3>
          <p style="text-align: justify;">
            <font color="#008000">Desenho vetorial</font> é o uso de primitivas geométricas como pontos, linhas, curvas e formas ou polígonos - todos os quais são baseados em expressões matemáticas - para representar imagens em computação gráfica. </p>
          <p style="text-align: justify;">
            <font color="#3e3c5f">Diferença entre vetores e outras imagens</font>
          </p>
          <p style="text-align: justify;">Antes de tudo, é necessário explicar que existem dois tipos de imagens: as vetoriais, e as raster, ou imagens de mapa de bits (
            <font color="#FF0000">bitmap</font>). A diferença crucial entre elas está na estrutura: enquanto imagens vetoriais baseiam-se em cálculos matemáticos para serem feitas, as raster são divididas em milhares de pixels, onde cada unidade guarda um tom de cor específico.
            Além delas, existem também as figuras de
            <font color="#008000">arte fractal</font>, geradas a partir de um
            <font color="#008000">algoritmo matemático</font> em um computador (como os vetores) porém renderizadas como raster. </p>
          <div style="text-align: right;">
            <img alt="" src="static/image/vetor.png"> </div>
        </div>
        <div class="col-md-5" id="col-right">
          <div style="text-align: justify;">
            <img style="width: 378px; height: 124px;" alt="Video" src="static/image/edicao.png"> </div>
          <h3 style="text-align: center;">
            <font color="#3e3c5f">Edição de Vídeo</font>
          </h3>
          <p style="text-align: justify;"><i><font color="#008000"><strong>Edição
                  de vídeo</strong></font></i> é o processo de corte e montagem de imagens em movimento captadas por meio eletrônico vídeo e registradas de forma analógica ou digital, podendo ocorrer de forma
            <font color="#008000">linear</font> ou
            <font color="#008000">não linear</font>. <strong><em><font color="#008000"><br>
                </font></em></strong></p>
          <p style="text-align: justify;"><strong><em><font color="#008000">Linear</font></em></strong> quer dizer em linha onde não há como você chegar no final se passar pelo meio. </p>
          <p style="text-align: justify;">Tipo
            <font color="#FF0000">fitas k-7</font> ou
            <font color="#FF0000">vhs</font>. São feitos com equipamentos analógicos.
            <font color="#008000">
              <br> </font>
          </p>
          <p style="text-align: justify;">
            <font color="#008000">Não Linear</font> (
            <font color="#FF0000">Equipamentos Digitais</font>) você posiciona o video em qualquer ponto seja no meio ou final sem ter que passar por pontos anteriores. </p>
          <p style="text-align: justify;">A grosso modo é isso. </p>
          <p style="text-align: justify;">No editor
            <font color="#008000">não linear</font> (video ou audio) voce simplesmente coloca o cursor no ponto desejado sem precisar ficar avançando ou retrocendo e efetua as alterações. </p>
          <hr>
          <h3 style="text-align: center;">
            <font color="#3e3c5f">Edição de Imagens</font>
          </h3>
          <p style="text-align: justify;">A Edição é a alteração/manuseamento de determinado conteúdo tendo por seu documento pessoal objectivo um uso determinado. Habitualmente o termo é mais relacionado com a edição de texto, ou a transformação de um manuscrito em formato comercializável
            e reprodutível, como um livro. O acto de editar determinado conteúdo chama-se editoração, e o sujeito é o editor. A edição compreende também a alteração de conteúdos vídeo, como a edição de vídeo, num processo análogo à Montagem Cinematográfica
            ou Videográfica, assim como imagens não sequenciais, como a Edição de imagens como as fotografias, textos de vários outros formatos consoante o meio de comunicação, como a edição jornalística, ou a edição internet, ou sons, como a edição de
            música ou a edição radiofônica.</p>
          <p style="text-align: justify;">
            <a href="/photoshop"><i>Ver Mais...</i></a>
          </p>
        </div>
        <div class="col-md-1" id="bd-right"></div>
      </div>
    </div>
  </div>
    <!-- /.container -->
{% include 'sitio/footer.html' %}
    
